<section class="text-white mt-2 min-w-fit">
  <header class="">
    <h1 class="text-5xl text-center tracking-widest">World Weather App</h1>
    <img
      src="assets\weather-svg\reshot-icon-climate-change-4TQA2857E3.svg"
      alt="World Icon"
      class="h-72 mx-auto"
    />
  </header>
  <div class="text-center mt-5">
    <form #weatherForm="ngForm" (ngSubmit)="onGetWeather(weatherForm.value)">
      <label for="cityInput" class="tracking-widest">Enter a city name: </label>
      <input
        id="cityInput"
        name="cityName"
        ngModel
        #cityInput="ngModel"
        required
        placeholder="e.g., San Diego"
        class="rounded-lg px-2 py-1 mx-auto mt-2 text-black"
      />
      <button
        type="submit"
        [disabled]="weatherForm.invalid"
        class="block border mx-auto mt-5 p-3 rounded-lg hover:cursor-pointer"
      >
        Get Weather
      </button>
    </form>
  </div>
  @if (!userEnteredCity) {
  <div class="flex justify-center mt-10 space-x-10 w-fit mx-auto h-max">
    <img
      src="assets\weather-svg\reshot-icon-cloudy-with-moon-WBP39RLE4Z.svg"
      alt=""
      class="h-12 lg:h-32 transform -rotate-12"
    />
    <img
      src="assets\weather-svg\reshot-icon-heavy-rain-W4E63SHR7P.svg"
      alt=""
      class="h-8 lg:h-24"
    />
    <img
      src="assets\weather-svg\reshot-icon-partly-cloudy-UW8BTQN963.svg"
      alt=""
      class="h-12 lg:h-32"
    />
    <img
      src="assets\weather-svg\reshot-icon-snowflake-V9NS7EWUFD.svg"
      alt=""
      class="h-8 lg:h-24"
    />
    <img
      src="assets\weather-svg\reshot-icon-sunny-YTEZCHSJPV.svg"
      alt=""
      class="h-12 lg:h-32 transform rotate-12"
    />
  </div>

  }
  <div
    class="w-max mx-auto lg:w-90vw 2xl:w-max xl:grid xl:grid-cols-2 xl:-space-x-16 mt-10 2xl:-space-x-48"
  >
    <app-weather [cityName]="userEnteredCity" class=""></app-weather>
    <app-five-day-forecast [cityName]="userEnteredCity"></app-five-day-forecast>
  </div>
</section>
